$white: #FFFFFF;
$black-lighter: #252C3A;
$milk-white: #F8F8F8;
$red: #f00;
$light-grey: #EEEEEE;
$light-black: #474647;
$darken-grey: #7F7F7F;
$boder-grey: #D1D1D1;
$header-blue: #628DB6;
$light-orrange: #FABF8F;
$light-blue: #b3daff;
$light-pink: #fffef1;
$color_mountain_mist_approx: #999;
$color_boston_blue_approx: #428bca;
$alabaster: #fafafa;
$color-light-gray: #ccc;
$black: #000;
$color_celeste_approx: #ccc;
$color_alto_approx: #ddd;
$color_border_approx: #ccc;
$color_bg_title_approx: #ddd;
$gray-lighter: #333;
